@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Flashcards";
}

<style>
    #flashcards-panel-container {
        height: 100%;
        display: none;
    }

    #word-info-panel {
        visibility: visible;
    }

    #flashcards-wrapper {
        border-radius: 3px;
        background: #ffffff;
        border-top: 3px solid #3c8dbc;
        box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
        height: 100%;
    }

    #DeckSizeSelection {
        width: 100%;
    }

    #top-flashcard, #bottom-flashcard{
        margin: 0;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    #bottom-flashcard {
        justify-content: normal;
    }

    #show-translation-btn {
        background-color: #3c8dbc;
        padding: 25px;
        color: white;
        border: none;
    }

    #show-translation-btn:hover {
        background-color: #337ab7;
    }

    #recall-btns-container > * {
        padding: 0 30px;
        display: inline-block;
        font-size: 15px;
        height: 50px;
        display: inline-block;
        line-height: 46px;
    }

    #medium-btn {
        margin: 0 15px;
    }

    #recall-btns-container, #translated-word-wrapper {
        visibility: hidden;
    }

    #reviewed-cards-list-container {
        display: none;
        flex-basis: 40%;
        height: fit-content;
    }

    #reviewed-cards-list {
        width: 100%;
        border: 1px solid dimgray;
        border: 2px solid #3c8dbc;
        box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    }

    #reviewed-cards-list > caption{
        text-align: center;
        border: none;
        background-color: white;
        font-weight: 600;
        font-size: 24px;
        color: #474747;

    }

    th {
        background-color: #3c8dbc;
        color: white;
        padding: 7px 0;
    }

    td {
        padding: 2px 0;
    }

    th, td {
        font-size: 17px;
        /*width: 60px;*/
        text-align: center;
    }

    .cell-space{
        width: 100px;
    }


    /*///////////     Simple TABLE     /////////*/

</style>

<div id="GridDiv" style="background-color: #ecf0f5;">

</div>

<div id="flashcards-panel-container" class="row">
    <div id="flashcards-wrapper" class="col-md-9">
        <div id="top-flashcard">
            <div id="original-word-wrapper" class="word-wrapper">Some Word</div>
        </div>
        <hr />
        <div id="bottom-flashcard">
            <div id="translated-word-wrapper" class="word-wrapper">Some translation</div>
            <button id="show-translation-btn">Show translation</button>
            <div id="recall-btns-container">
                <button id="bad-btn" class="okta-btn-design">Bad</button>
                <button id="good-btn" class="okta-btn-design">Good</button>
                <button id="easy-btn" class="okta-btn-design">Easy</button>
            </div>
        </div>

    </div>

    <div id="reviewed-cards-list-container">
        <table id="reviewed-cards-list">
            <caption>Reviewed cards</caption>
            <tr>
                <th>Word</th>
                <th>Due in</th>
            </tr>
            <tr class="reviewed-word-row">
                <td class="reviewed-word"></td>
                <td class="due-in"></td>
            </tr>
        </table>
    </div>

    <div id="word-info-panel" class="col-md-3"> </div>

</div>

<div id="DeckSizeSelection"> </div>

<script type="text/javascript">
    jQuery(function () {
        new PoolBox.PoolBox.FlashcardsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>
