@import "site.mixins.less";


.s-PoolBox-TranslationsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.word {
    background-color: red;
}


#reader-grid {
    font-size: 18px;
    overflow: auto !important;
}