@import "site.mixins.less";


.s-PoolBox-TranslationsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.word {
    /*background-color: red;*/
    padding: 1px;
}


#reader-grid {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    overflow: auto !important;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#grid-panel-container {
    height: 90%;
    margin: 0;
}

// translated text
.selected-text {
    background-color: forestgreen;
}

// highlighted text during mouse over
.highlighted-text {
    background-color: yellowgreen;
}

#word-info-panel {
    height: 100%;
}


#reader-container {
    height: 100%;
}

.okta-btn-design {
    color: #4ba3d3 !important;
    border-radius: 3px;
    border: 2px solid #4ba3d3 !important;
    background-color: transparent !important;
    font-weight: 700;
    transition: 0.4s color, 0.4s background, 0.4s border !important;
}

.okta-btn-design:hover {
    background-color: #4ba3d3 !important;
    color: white !important;
}

.s-PoolBox-LanguagePairsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}