<style>
    .form-field-container {
        display: flex;
        flex-direction: column;
    }

    .form-field-container > div.vx{
        display: none;
    }

    .form-field-container > label.caption {
        text-align: left;
        color: black;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .form-field-container > input.editor {
        padding: 3px;
        font-size: 14px;
    }

    #audio-recording-container {
        visibility: hidden;
        margin-left: 20px;
        font-size: 20px;
        cursor: pointer;
        display: inline-block;
    }

</style>

<div class="box box-primary">
    <div class="box-header with-border">
        <h1 id="word-name" class="box-title"></h1>
        <div id="audio-recording-container">
            <i class="fa fa-volume-up"></i>
            <audio id="audio-recording"/>
        </div>
    </div>
    
    <div id="form-container" class="box-body box-profile"></div>
</div>
