@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Reader";
}

<div id="GridDiv">

</div>

<div id="grid-panel-container" class="row">
    
    <div id="word-info-panel" class="col-md-3">
        delobuch
        <h1>Type</h1>
        <h6 id="word-type"></h6>
        <h1>Gender</h1>
        <h6 id="noun-gender"></h6>
        <h1>Translations</h1>
        <h6 id="translations"></h6>
    </div>
</div>

<script type="text/javascript">
    jQuery(function () {
        new PoolBox.PoolBox.ReaderGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>