@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Reader";
}

<div id="GridDiv" style="background-color: #ecf0f5;">

</div>

<div id="grid-panel-container" class="row">
        <div id="reader-container" class="col-md-9"></div>

        <div id="word-info-panel" class="col-md-3" style="visibility: visible"></div>
    </div>

<script type="text/javascript">
    jQuery(function () {
        new PoolBox.PoolBox.ReaderGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>